* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 25px;
}

header h1 {
  color: #38bdf8;
}

header p {
  color: #94a3b8;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 10px;
}

.card h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  background: #020617;
  border: 1px solid #334155;
  color: white;
  border-radius: 6px;
  margin-top: 5px;
}

/* PRIORITY BOX */
.priority-box {
  margin-top: 18px;
  padding: 14px;
  border: 1px solid #334155;
  border-radius: 8px;
  background: #020617;
}

.priority-title {
  color: #38bdf8;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.primary { background: #2563eb; color: white; }
.success { background: #16a34a; color: white; }
.warning { background: #facc15; color: black; }
.danger  { background: #dc2626; color: white; }

.table-section {
  padding: 20px;
}

table {
  width: 100%;
  background: #020617;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  color: #38bdf8;
}

/* TIMELINE */
#timeline {
  display: flex;
  align-items: center;
  height: 80px;
  background: #020617;
  padding: 10px;
  margin-top: 10px;
  overflow-x: auto;
  border-radius: 8px;
}

.timeline-label {
  color: #38bdf8;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.timeline-block {
  height: 40px;
  background: #38bdf8;
  margin-right: 6px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/* TOAST */
#toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #16a34a;
  color: white;
  padding: 14px 26px;
  border-radius: 10px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
}

#toast.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
